SERVICEWIDE:
  zookeeper_service: {{ services.json | json_query('items[?type==`ZOOKEEPER`].name') | first }}
  ranger_kms_database_host: "{{ databases.RANGER_KMS.host }}"
  ranger_kms_database_port: "{{ databases.RANGER_KMS.port }}"
  ranger_kms_database_type: "{{ databases.RANGER_KMS.type | format_database_type }}"
  ranger_kms_database_name: "{{ databases.RANGER_KMS.name }}"
  ranger_kms_database_user: "{{ databases.RANGER_KMS.user }}"
  ranger_kms_database_password: "{{ databases.RANGER_KMS.password }}"


RANGER_KMS_SERVER:
  ranger_kms_master_key_password: {{ default_password | default('Cloudera1234') }}